@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:wght@300;500;700&display=swap');


/*@media screen and (max-width: 991px) {

}*/

/* Estilos Generales */

* {
  font-family: 'roboto', 'sans-serif','Quicksand' ; 

}

body{
    margin:20px auto;
    max-width: 1200px;
    background: #f2f4fc;
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;
}

/* Estilos Reutilizables */

.btn--general{
    background: blue;
    color: white;
    padding: 1rem 2rem;
}
.btn--general:hover{
    background: rgba(7, 42, 200, 20);
}


/* Final - Estilos Reutilizables */


/* Menu Navegacion */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

header ul {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
}

header a {
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
    padding: 1rem;
}
header a:hover{
    color: #0082f3;
    text-decoration: underline;
}
header li:nth-of-type(1) a{
    color: #0082f3;
}

/* Final Menu navegacion */

/* Hero Section */
/* Apuntamos mediante id para ver algo diferente :) */
#hero-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-evenly;
}


/* contenido del hero */
#hero-section div:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 400px;
}

#hero-section h1{
    margin-bottom: 1rem;
}
#hero-section p{
    margin-bottom: 2rem;
}

#hero-section a:nth-child(1){
    margin-right: 2rem;
}


/* imagenes del hero */
#hero-section div:nth-child(2){
    position: relative;
}

#hero-section div img:nth-child(odd){
    position: absolute;
    width: 350px;
}
#hero-section div img:nth-child(even){
    height: 600px;
}
#hero-section div img:nth-child(1){
   top: 0;
   left: -20%;
   right: auto;
   bottom: auto;
}
#hero-section div img:nth-child(3){
    bottom: -20%;
    left: auto;
    right: -30%;
    top: auto;
}

/* Final - Hero Section */

/* inicio section logos*/

.grid-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

/* final section logos */

/*inicio section-recent-projects*/

#section-recent-projects h2 {
    margin: 0px;
    padding: 60px 0 20px 0;
    font-size: 2rem;
}

#collection-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
}

.project-img-1 img {
    width: 250px;
}

.project-img-2 img {
    width: 250px;
}
.project-img-3 img {
    width: 285px;
}

.project-content {
    font-size: 1rem;
}

.project-content a {
    color:#072AC8;
}

/*final section-recent-projects*/

/* inicio section-emojis */

#section-emojis {
    background-color: #292E47;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 600px;
    margin-bottom: 40px;

}

#section-emojis h3 {
    color: #f2f4fc;
    font-size: 2rem;
    text-align: center;
    margin-top: 200px;
}

#section-emojis p {
    color: #FFC600;
    font-size: 1.5rem;
    text-align: center;
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
    line-height: 160%;
    font-weight: 500;
    text-align: center;
    
}


.client-name {
    color: #0082f3; 
}

.client-position {
    color: #f2f4fc;
}

#section-emojis img {
    width: 100px;
} 

.kristin {
    width: 60px;
    height: 100px;
    border-radius: 50%;
}

.emoji-top-left {
  position: absolute;
  left: 0;
  right: 0;
}

.emoji-top-right {
    position: absolute;
    right: 0;
}

.emoji-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.emoji-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* final section-emojis */

/*inicio section-service*/

.container-service {
    margin-top: 40px;
    margin-bottom: 20px;
}

.service-grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
   
}


.service-heading {
    font-size: 2rem;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-text {
    margin-right: 100px;
}

.description {
    margin-bottom: 10px;
}

/* final section-service */

/*inicio section-questions*/

#section-questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    background-color: #FFC600;
    margin-bottom: 40px;
}


.container-heading {
    text-align: center;
    color: #292E47;
}
.subtitle {
    text-align: center;
    color: #6b708d;
}

.block-form {
    margin-top: 2%;
   text-align: center;
}

.input-email {
    height: 50px;
    width: 250px;
    border: 0px;
}
.cta-form{
    display: inline;
}
.img-sobre{
    display: inline-block;
    background-color: #fff;
    height: 53px;
    width: 300px;
}

.sobre{
    position: relative;
    top: 8px;
}


/*falta acabar!!!!!!!!!!!!!!*/

/*final section-questions*/

/*inicio footer*/

#section-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-adress {
    margin-bottom: 20px;
    color: #6b708d;
}

.footer-links {
    display: grid;
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 70px;
}

