@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:wght@300;500;700&display=swap');


/*@media screen and (max-width: 991px) {

}*/

/* Estilos Generales */

* {
  font-family: 'roboto', 'sans-serif','Quicksand' ; 

}

body{
    margin:20px auto;
    max-width: 1200px;
    background: #f2f4fc;
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;
}

/* Estilos Reutilizables */

.btn--general{
    background: blue;
    color: white;
    padding: 1rem 2rem;
}
.btn--general:hover{
    background: rgba(7, 42, 200, 20);
}


/* Final - Estilos Reutilizables */


/* Menu Navegacion */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

header ul {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
}

header a {
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
    padding: 1rem;
}
header a:hover{
    color: #0082f3;
    text-decoration: underline;
}
header li:nth-of-type(1) a{
    color: #0082f3;
}

/* Final Menu navegacion */

/* Hero Section */
/* Apuntamos mediante id para ver algo diferente :) */
#hero-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-evenly;
}


/* contenido del hero */
#hero-section div:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 400px;
}

#hero-section h1{
    margin-bottom: 1rem;
}
#hero-section p{
    margin-bottom: 2rem;
}

#hero-section a:nth-child(1){
    margin-right: 2rem;
}


/* imagenes del hero */
#hero-section div:nth-child(2){
    position: relative;
}

#hero-section div img:nth-child(odd){
    position: absolute;
    width: 350px;
}
#hero-section div img:nth-child(even){
    height: 600px;
}
#hero-section div img:nth-child(1){
   top: 0;
   left: -20%;
   right: auto;
   bottom: auto;
}
#hero-section div img:nth-child(3){
    bottom: -20%;
    left: auto;
    right: -30%;
    top: auto;
}

/* Final - Hero Section */
.circle {
 margin: 40px;
}

.navigation {
    width: 60%;
    margin: 50px 50px;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    float: right;
    margin: 40px;

}

.navegation ul li a {
    text-decoration: none;
    font-size: 1em;
    color: #6C718B;  
}

.button-contact {
    position: absolute;
    margin: 1% 0 0 70%;
    background-color: #072AC8;
    color: #fff;
    padding: 15px 25px;
    border: #fff;
    outline: none;
    font-size: 15px;
}

.hero-section{
    margin: 50px 50px;
    
}

.hero-content {
    max-width: 530px; 
}


.heading-2-hero {
    position: relative;
    color: #292E47;
    font-size: 60px;
    margin-left: 30px;
    
}

.description {
    color: #6C718B;
    font-size: 20px;
    margin-left: 30px;
    
}

.hero-buttons{
    margin: 40px 0 0 0;
}

.button-primary {
    background-color: #072AC8;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
}

.hero-text-button {
    color: #6C718B;
    text-decoration: none;
    padding: 15px 25px;
}

.man {
    position: relative;
    width: 500px;
    left: 500px;
    bottom: 100px;
}


.card-img {
    position: relative;
    width: 250px;
    z-index: 1;
    right: 60px;
    bottom: 400px;
}

.check-img {
    position:relative;
    width: 250px;
    z-index: 1;
    left: 80px;
    bottom: 15px;
}

.client-logo {
    display: inline;
    padding: 20px 20px;
    margin: 0 0 0 150px;  
}

#section-recent-projects h2 {
  font-size: 2.5rem;
}

#collection-projects-grid {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
}

.project-title {
    text-align: left;
}

.project-img img {
    width: 350px;
}

.client-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #292E47;
}