@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:wght@300;500;700&display=swap');


/*@media screen and (max-width: 991px) {

}*/

/* Estilos Generales */

* {
  font-family: 'roboto', 'sans-serif','Quicksand' ; 

}

body{
    margin:20px auto;
    max-width: 1200px;
    background: #f2f4fc;
    margin: 0 auto;
    padding: 0;
}

a{
    text-decoration: none;
}

/* Estilos Reutilizables */

.btn--general{
    background: blue;
    color: white;
    padding: 1rem 2rem;
}
.btn--general:hover{
    background: rgba(7, 42, 200, 20);
}


/* Final - Estilos Reutilizables */


/* Menu Navegacion */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

header ul {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
}

header a {
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
    padding: 1rem;
}
header a:hover{
    color: #0082f3;
    text-decoration: underline;
}
header li:nth-of-type(1) a{
    color: #0082f3;
}

/* Final Menu navegacion */

/* Hero Section */
/* Apuntamos mediante id para ver algo diferente :) */
#hero-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-evenly;
}


/* contenido del hero */
#hero-section div:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 400px;
}

#hero-section h1{
    margin-bottom: 1rem;
}
#hero-section p{
    margin-bottom: 2rem;
}

#hero-section a:nth-child(1){
    margin-right: 2rem;
}


/* imagenes del hero */
#hero-section div:nth-child(2){
    position: relative;
}

#hero-section div img:nth-child(odd){
    position: absolute;
    width: 350px;
}
#hero-section div img:nth-child(even){
    height: 600px;
}
#hero-section div img:nth-child(1){
   top: 0;
   left: -20%;
   right: auto;
   bottom: auto;
}
#hero-section div img:nth-child(3){
    bottom: -20%;
    left: auto;
    right: -30%;
    top: auto;
}

/* Final - Hero Section */

/* inicio section logos*/

.grid-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

/* final section logos */

/*inicio section-recent-projects*/

#section-recent-projects h2 {
    margin: 0px;
    padding: 60px 0 20px 0;
    font-size: 1.5rem;
}

#collection-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
}

.project-img-1 img {
    width: 250px;
}

.project-img-2 img {
    width: 250px;
}
.project-img-3 img {
    width: 285px;
}

.project-content {
    font-size: 1rem;
}

.project-content a {
    color:#072AC8;
}

/*final section-recent-projects*/

/* inicio section-emojis */

#section-emojis {
    background-color: #292E47;
}

#section-emojis h3 {
    color: #f2f4fc;
    font-size: 1.5rem;
    text-align: center;
}

#section-emojis p {
    color: #FFC600;
    font-size: 1.5rem;
    text-align: center;
    
}

.client-name {
    color: #0082f3;
}

.client-position {
    color: #f2f4fc;
}

#section-emojis img {
    width: 200px;
}

.kristin {
    width: 60px;
}


